
*{
    font-family: Orbitron;
    color: white;
    background-color: #F4A442;
}



body, html{
    margin: 0;
}

body{
    position: relative;
    height: 100%;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 0px #4E9F3D;
    z-index: 99;
}


header *{
    font-size: 1.6rem;
    text-decoration: none;
}

.favourite-router *{
    border-radius: 10px;
}

.favourite-router *:hover{
    color: #4E9F3D;
}

.app-name{
    padding-left: 20px;
}

.app-name a{
    text-decoration: none;
    color: #4E9F3D;
}


.card-container{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 280px;
    border: 2px solid #4E9F3D;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #646464;
}

.card-img-container img{
    height: 180px;
    width: 180px;
    border-radius: 15px;
}

.card-name{
    padding: 5px;
}

.card-name:hover{
    color: #4E9F3D;
    cursor: pointer;
}

header input{
    height: 35px;
    width: 100%;
    padding: 15px;
    border: 1px solid #4E9F3D;
    border-radius: 25px;
}

header input:focus{
    border: 3px solid #4E9F3D;
}

header button{
    margin-right: 20px;
}

header button a{
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#result-container{
    position: relative;
    width: 100%;
    height: 100%;
    top: 80px;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}




body{
    position: relative;
    height: 100%;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 0px #4E9F3D;
    z-index: 99;
}


header *{
    font-size: 1.6rem;
    text-decoration: none;
}

.favourite-router *{
    border-radius: 10px;
}

.favourite-router *:hover{
    color: #4E9F3D;
}

.app-name{
    padding-left: 20px;
}

.app-name a{
    text-decoration: none;
    color: #4E9F3D;
}



#stat-bars{
    width: 90%;
    font-size: .9rem;
}

.bar-container{
    background-color: rgba(0, 0, 0, 0);
    width: 82%;
    padding: 2px 0px 2px 0px;
    margin-top: 3px;
}

.bar{
    background-color: #4E9F3D;
    border-radius: 10px;
    padding: 2px 0px 2px 0px;
    padding-left: 5px;
}


#result-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 172, 172);
    top: 80px;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    height: 100%;
}


.card-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 2px solid #4E9F3D;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #5a5a5a;
}

.card-img-container img{
    height: 180px;
    width: 180px;
    border-radius: 15px;
}

.card-name{
    padding: 4px;
    padding-top: 8px;
    font-size: 1.4rem;
}

.card-name:hover{
    color: #4E9F3D;
    cursor: pointer;
}


#stats-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#stat-names{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 10px;
}

#stat-names span{
    display: block;
    padding: 5px;
    padding-left: 15px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



header *{
    font-size: 1.6rem;
    text-decoration: none;
}

.favourite-router *{
    border-radius: 10px;
}

.favourite-router *:hover{
    color: #4E9F3D;
}

.app-name{
    padding-left: 20px;
}

.app-name a{
    text-decoration: none;
    color: #4E9F3D;
}

header button{
    margin-right: 20px;
}

header button a{
    text-decoration: none;
}


#main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 1vh;
}

#top-bar{
    position: fixed;
    top: 80px;
    left: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 0px 15px 0px #4E9F3D;
    z-index: 10;
}

#top-bar *{
    padding: 20px 0px 20px 0px;
    text-decoration: none;
}

#top-bar *:hover{
    color: #4E9F3D;
}

.anchor{
    display: block;
    height: 200px; 
    margin-top: -200px;
    visibility: hidden;
}


#data-container{
    position: relative;
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;

    background-color: rgba(0, 0, 0, 0);

}

#image{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
    padding: 100px;
    align-items: center;
}

#fav_btn{
    margin-top: 30px;
    box-shadow: 0px 0px 15px 0px #4E9F3D;
    border-radius: 100%;
}


#stats-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#stat-names{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 20px;
}

#stat-names span{
    display: block;
    padding: 15px;
    font-weight: bold;
}

#stat-bars{
    width: 80%;
}

.bar-container{
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    padding: 5px;
}


.bar{
    background-color: #4E9F3D;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 600ms;
}

#detail-container{
    position: relative;
    width: 70%;
}

.detail-item{
    padding: 20px;
    width: 80%;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

